.navbar{
    background-color: rgb(42, 29, 12) !important;
}
.herosection-container{
    background-color: rgb(42, 29, 12) !important;
}
.fa-solid {
    background-color:rgb(255, 202, 44,0.7);
}
/* .testimonial-container{
    background-color: rgba(221, 231, 47, 0.03) !important;
}  */

.card img{
    width: 600px !important;
    height: 350px !important;
}
.blg-img img{
    width: 50px !important;
    height: 50px !important;
}
.buttons{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.card-footer img{ width: 50px !important;
    height: 50px !important;

}

